body {
  height: 300vh;
}
.bg-color {
  background-color: #3d3241;
}
.border-color {
  border: 2px solid#DCC1B0;
}
/* NavBar */
#NavBar {
  background-color: #847072;
  overflow: hidden;
}

/* CSS NavBar a tag */
#NavBar a {
  color: white;
  text-align: center;
  padding: 15px;
  float: right;
  display: block;
}
/* sticky NavBar */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.max-height-60 {
  height: 60vh;
}

.margin-top {
  margin-top: 2rem;
}